<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>{{title}}</title>
</head>
<body>
    <img src="/static/favicon.ico">
    <br>
    <h2>{{num_of_items}} configuration items found:</h2>
    <ul>
        {% for item in items %}
        <li>
            <a href="{{url_for('load_item_by_index', index=loop.index0)}}">
                {{item.key}}:{{item.value}}
            </a>
            <img src="/static/favicon.ico">
        </li>
        {% endfor %}
    </ul>
</body>
</html>